
To-Img-Do.xcodeproj/project.xcworkspace/xcuserdata/egesucu.xcuserdatad/UserInterfaceState.xcuserstate
To-Img-Do.xcodeproj/xcshareddata/xcschemes/To-Img-Do.xcscheme
*.xcbkptlist
*.xcuserstate
.DS_Store
